<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="wrapper">
     <details>
         <summary>Table of contents</summary>
            
            <details>
            <summary style="text-indent: 20px">THE BEGINNING</summary>
                
            <ol>
                <li><a href="origin-story.html">Origin Story</a></li>
                <li><a href="obsession.html">Obsession</a></li>
                <li><a href="on-uncertainty.html">On Uncertainty</a></li>
                <li><a href="bruno-latour-quote.html">Bruno Latour Quote</a></li>
                <li><a href="the-beast.html">The Beast</a></li>
                <li><a href="synonyms.html">Synonyms</a></li>
                <li><a href="roots-of-uncertainty.html">Roots of Uncertainty</a></li>
                <li><a href="silent-shadow.html">Silent Shadow</a></li>
                <li><a href="jung-quote-red-book.html">Jung Quote Red Book</a></li>
                <li><a href="death-drive.html">Death Drive</a></li>
                <li><a href="choice.html">Choice</a></li>
                <li><a href="four-creatures.html">Four Creatures</a></li>
                <li><a href="darwin.html">Darwin</a></li>
                <li><a href="skinner.html">Skinner</a></li>
                <li><a href="popper.html">Popper</a></li>
                <li><a href="gregory.html">Gregory</a></li>
                <li><a href="prediction-and-choice.html">Prediction and Choice</a></li>
                <li><a href="time.html">Time</a></li>
                <li><a href="past.html">Past</a></li>
                <li><a href="present.html">Present</a></li>
                <li><a href="future.html">Future</a></li>
                <li><a href="dennis-lindley-quote.html">Dennis Lindley Quote</a></li>
                <li><a href="space.html">Space</a></li>
                <li><a href="first-person-shooter.html">First-Person-Shooter</a></li>
                <li><a href="social.html">Social</a></li>
                <li><a href="rot-at-the-core.html">Rot at the Core</a></li>
                <li><a href="shoshana-zuboff-quote.html">Shoshana Zuboff Quote</a></li>
                <li><a href="control-and-predict.html">Control and Predict</a></li>
            </ol>
                
         </details>
         
            <details>
            <summary style="text-indent: 20px">KNOWLEDGE</summary>
                
            <ol>
                <li><a href="origin-story.html">Origin Story</a></li>
                <li><a href="obsession.html">Obsession</a></li>
                <li><a href="on-uncertainty.html">On Uncertainty</a></li>
                <li><a href="bruno-latour-quote.html">Bruno Latour Quote</a></li>
                <li><a href="the-beast.html">The Beast</a></li>
            </ol>
                
         </details>
         
            <details>
            <summary style="text-indent: 20px">AGENCY</summary>
                
            <ol>
                <li><a href="origin-story.html">Origin Story</a></li>
                <li><a href="obsession.html">Obsession</a></li>
                <li><a href="on-uncertainty.html">On Uncertainty</a></li>
                <li><a href="bruno-latour-quote.html">Bruno Latour Quote</a></li>
                <li><a href="the-beast.html">The Beast</a></li>
            </ol>
                
         </details>
         
            <details>
            <summary style="text-indent: 20px">CREATIVITY</summary>
                
            <ol>
                <li><a href="origin-story.html">Origin Story</a></li>
                <li><a href="obsession.html">Obsession</a></li>
                <li><a href="on-uncertainty.html">On Uncertainty</a></li>
                <li><a href="bruno-latour-quote.html">Bruno Latour Quote</a></li>
                <li><a href="the-beast.html">The Beast</a></li>
            </ol>
                
         </details>
         
            <details>
            <summary style="text-indent: 20px">UNDERSTANDING</summary>
                
            <ol>
                <li><a href="origin-story.html">Origin Story</a></li>
                <li><a href="obsession.html">Obsession</a></li>
                <li><a href="on-uncertainty.html">On Uncertainty</a></li>
                <li><a href="bruno-latour-quote.html">Bruno Latour Quote</a></li>
                <li><a href="the-beast.html">The Beast</a></li>
            </ol>
                
         </details>
</details>
    </div>
  </body>
</html>
